.user_form_common_background
  .user_form_common_formbox
    %h1.user_form_common_page_title 編集ページ
    .user_form_layout
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource 
        .field
          = f.label :name, {class: "user_form_labels"}
          = f.text_field :name, autofocus: true, autocomplete: "name"
        .field
          = f.label :email, {class: "user_form_labels"}
          = f.email_field :email, autofocus: true, autocomplete: "email"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div= "Currently waiting confirmation for: #{resource.unconfirmed_email}"
        .field
          = f.label :password, {class: "user_form_labels", placeholder: "aaaa"}
          - if @minimum_password_length
            = "(最低#{@minimum_password_length}文字)"
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :password_confirmation, {class: "user_form_labels"}
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field
          = f.label :image, {class: "user_form_labels"}
          = f.file_field :image, {class: "user_form_image"}
        .field
        = f.label :current_password, {class: "user_form_labels"}
        = f.password_field :current_password, autocomplete: "current-password"
        .action
          = f.submit "更新", {class: "user_common_form_btn" }
      = button_to "アカウント削除", registration_path(resource_name), data: { confirm: "アカウントを消去します"}, class: :"user_delete_btn", method: :"delete"