.user_form_common_background
  .user_form_common_formbox
    %h1.user_form_common_page_title 新規登録
    .omniauth_area
      %h2.omniauth_h2 次のアカウントで始めることができます
      = link_to user_facebook_omniauth_authorize_path do
        .facebook 
          %i.fab.fa-facebook-f 
          Facebookで新規登録
      = link_to user_google_oauth2_omniauth_authorize_path do
        .google
          = image_tag "google_icon.svg", :width => "16", :height => "16"
          googleで新規登録
      = link_to user_twitter_omniauth_authorize_path do
        .twitter
          %i.fab.fa-twitter
          twitterで新規登録
    .user_form_layout
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :name, {class: "user_form_labels"}
          = f.text_field :name, autofocus: true, placeholder: 'Mayby太郎'
        .field
          = f.label :email, {class: "user_form_labels"}
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Mayby@example.com'
        .field
          = f.label :image, {class: "user_form_labels"}
          = f.file_field :image, {class: "user_form_image"}
        .field
          = f.label :password, {class: "user_form_labels"}
          - if @minimum_password_length
            ="(最低#{@minimum_password_length}文字)"
            = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :password_confirmation, {class: "user_form_labels"}
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "新規登録", {class: "user_common_form_btn"}
        =link_to 'ログインはこちら', new_user_session_path, { class: 'for_user_link' }