= form_with model: [@post,@comment] do |f|
  = f.label :content, 'コメント', { class: 'label_comment' }
  = f.text_area :content, { class: "js-comment rspec_textarea comment_textarea ", placeholder: 'コメントを入力して下さい（最大140文字）' }
  = f.submit 'コメント', { class: "comment_btn btn btn-primary" } 
-if @post.comments_count == nil
  %h2.js-comment-h2.comment_counter コメント0件
-else
  %h2.js-comment-h2.comment_counter= "コメント#{ @post.comments_count }件"