.form_comment
  = form_with model: [@post,@comment] do |f|
    = f.text_area :content, { class: "js-comment", id: "textarea1" }
    = f.submit "コメント", { class: "comment-btn", id: "comment-btn" }
  %h2.js-comment-h2= "コメント#{ @post.comments_count }件"