.form_comment
  = form_with model: @comment, url: post_comments_path(post_id: @post.id) do |f|
    = f.hidden_field :post_id, :value => @post.id
    = f.text_area :content, { class: "js-comment" }
    = f.submit "コメント", { class: "comment-btn" }
  %h2.js-comment-h2= "コメント#{ @post.comments_count }件"
#error_message
  = render partial: 'comments/error_message'