    <% @comments.each do | comment | %>
      <div class="comment-show-box">
        <%= link_to user_path(comment.user) do%>
          <p class="comment-user"><%= comment.user.name %>さん</p>
        <% end %> 
          <p class="comment-content"><%= comment.content %></p>
          <% if current_user.id == comment.user.id %>
          <div id="come_destroy<%=comment.post.id%>">
            <%= render partial: 'comments/destroy', locals: {comment: comment} %>
          </div>
          <% end %>
      </div>
    <%end%>



