.user-show-users-box
  - @user_comments.each do |comment|
    .card.user_comment_index_list
      .card-header
        = link_to post_path(comment.post_id), { class: "user_comment_title_link" } do
          %h3.user_comment_index_title= comment.post.title 
        - if comment.comment_user?(current_user)
          = render partial: "comments/destroy" , locals: { comment: comment }
      .card-body
        %blockquote.blockquote.mb-0
        %p= simple_format( comment.content )
      %footer.blockquote-footer.comment_time= "コメント日時：#{ l comment.created_at }"
