<% if current_user.likes.find_by(post_id: post.id) %>
  <%= link_to post_like_path(id: post.id, post_id: post.id) ,{ method: "delete", remote: true, class: "post-nolike" } do %>
    <i class="fas fa-star"></i><%= post.likes.where(post_id:post.id).count %>
    <span><%= link_to "人他...", post_like_path(id: post.id, post_id: post.id), class: "other-likes" %></span>
  <% end %>
<% else %> 
  <%= link_to post_likes_path(post), { method:"post", remote: true, class: "post-like" } do %>
    <i class="fas fa-star"></i><%= post.likes.where(post_id:post.id).count %>
  <% end %>
<% end %>

