-# users/index 共通レイアウト
.users-index-background
  .users-index-box
    %h1.users-index-title フォローリスト
    .user_index_list
      - @user.following.each do |user|
        .card.user_card{ style: "width: 20rem;" }
          = image_tag user.image_url, {class: "card-img-top user_image"}
          .card-body
            %h4.card-title= user.name
            %p.card-text
              = render partial: 'relationships/num_of_follow', locals: { user: user}
            = link_to "詳細", user_path(user), {class: "btn btn-primary"}
            - if user.current_user?(current_user)
              = link_to "編集", edit_user_registration_path, {class: "btn btn-primary"}
            %p.card-text.user_created_at=  "開始日:#{l user.created_at}"