<div class="users-index-background">
  <div class="users-index-box">
    <h1 class="users-index-title">ユーザー 一覧</h1>
      <form class="users-index-sort">
        <select onChange="top.location.href=value">
          <option value="#">--並べ替え--</option>
          <option value="<%="/users/desc"%>">新しいメンバー順</option>
          <option value="<%="/users/asc"%>">古い順メンバー順</option>
        </select>
      </form>
    <% @users.each do |user| %>
      <div class="users-index-lists">
        <img class="user_image" src="<%="/user_images/#{user.image_name}"%>">
        <p class="post"><%= user.name %></p>
        <p class="post"><%= user.email %></p>
        <%= link_to("詳細","/users/#{user.id}/show",{class: "users-link"})%>
        <% if @current_user.id == user.id %>
        <%= link_to("編集","/users/#{user.id}/edit",{class: "users-link"})%>
        <%= link_to("消す","/users/#{user.id}/destroy",{method:"post",class: "users-delite"}) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
