.users-index-background
  .users-index-box
    %h1.users-index-title ユーザー 一覧
    .user-search-box
      = search_form_for @q , url: users_path do |f|
        %div
          %span= f.label :名前
          = f.search_field :name_cont
          = f.submit "検索"
    - @users.each do |user|
      .users-index-lists
        = image_tag user.image.to_s,{class: "user_image"}
        %p.post= user.name
        %p.post= user.email
        %p.post
          = render partial: 'num_of_follow', locals: { user: user}
        = link_to "詳細", user_path(user), {class: "users-link"}
        - if current_user.id == user.id
          = link_to "編集", edit_user_registration_path, {class: "users-link"}
        
        
        
        

