<div class="users-show-background">
  <div class="users-show-box">
    <h1 class="users-show-title">ユーザーの詳細</h1>
    <img class="user_image" src="<%="/user_images/#{@user.image_name}"%>">
    <p><%= @user.name %>さん</p>
    <% if @current_user.id == @user.id%>
      <p><%=link_to("ユーザー編集","/users/#{@user.id}/edit",{class: "users-link"})%></p>
    <% end %>
    <% @user.posts.each do |post|%>
      <div class="users-show-layout">
        <p class="users-show-title"><%= post.name %></p>
        <p class="users-show-contents"><%= post.howto%></p>
      </div>
      <% if @current_user.id == @user.id%>
        <p><%=link_to("Mayby編集","/posts/#{post.id}/edit",{class: "post-link"})%></p>
      <% end %>
    <% end %>
  </div>
</div>