.users-show-background
  .users-show-box
    -# ユーザーの詳細
    = image_tag @user.image.to_s, {class: "user_image" }
    %p
      = "#{@user.name}さん"
    - if current_user.id == @user.id
      %p
        = link_to edit_user_registration_path, { class: "icon-link" } do
          %i.fas.fa-cog
    -# タブ ユーザーが投稿したMayby
    .tab-wrap
      %input.tab-switch#TAB-01{ type: "radio", name: "TAB", checked: "checked" } 
      %label.tab-label{ for: "TAB-01" }
        投稿したMayby
      .tab-content
        .user-show-users-box
          - @user.posts.each do |post|
            .users-show-layout
              = link_to post_path(post) do
                %h3.users-show-maybytitle= "〜#{post.title}〜"
                %p.users-show-contents= post.howto
              - if current_user.id == @user.id
                %p.edit-icon
                  = link_to edit_post_path(post), { class: "icon-link" } do
                    %i.fas.fa-edit

      -#  タブ ユーザーがコメントしたMayby
      %input.tab-switch#TAB-02{ type: "radio", name: "TAB" } 
      %label.tab-label{ for: "TAB-02" }
        コメント
      .tab-content
        #user_come_index
          = render partial: 'comments/user_come_index' , locals: { comments: @comments }
      -# タブ ユーザーがいいねしたMayby
      %input.tab-switch#TAB-03{ type: "radio", name: "TAB" } 
      %label.tab-label{ for: "TAB-03" }
        %i.fas.fa-star
        %span 
          Mayby
      .tab-content
        - @user.likes.each do |like|
          .users-show-layout
            = link_to post_path(like.post_id) do
              %h3.users-show-maybytitle
                = like.post.title
                %span
                  %i.fas.fa-star{style: "color:yellow;"}
                  = Like.where(post_id: like.post.id).count