.users-show-background
  .users-show-box
    .card.user_show_card
      = image_tag @user.image_url, {class: "card-img-top user_show_image"}
      .card-body
        %h4.card-title= "#{ @user.name }さん"
        %p.card-text
          #js-follow-form.follow_box
            = render partial: 'relationships/follow', locals: { user: @user }
      - if @user.current_user?(current_user)
        = link_to edit_user_registration_path, { class: "user_edit_from_show" } do
          %i.fas.fa-cog
    -# ユーザーが投稿したMayby
    .tab-wrap
      %input.tab-switch#TAB-01{ type: "radio", name: "TAB", checked: "checked" } 
      %label.tab-label.rspec_post-tab{ for: "TAB-01" }
        投稿したMayby
      .tab-content
        .user-show-users-box
          - @user.posts.each do |post|
            .card.user_post_index
              .card-header.post_index_title
                = link_to post.title, post_path(post)
                - if @user.current_user?(current_user)
                  .edit-icon
                    = link_to edit_post_path(post), { class: "icon-link" } do
                      %i.fas.fa-edit.rspec_post-edit
              .card-body
                %p.card-text= simple_format(post.howto)
      -# ユーザーがコメントしたMayby
      %input.tab-switch#TAB-02{ type: "radio", name: "TAB" } 
      %label.rspec_comment-tab.tab-label{ for: "TAB-02" }
        コメント
      .tab-content
        #js_user_come_index
          = render partial: 'comments/user_come_index' , locals: { comments: @comments }
      -# ユーザーがいいねしたMayby
      %input.tab-switch#TAB-03{ type: "radio", name: "TAB" } 
      %label#like-tab.tab-label{ for: "TAB-03" }
        %i.fas.fa-star
        %span 
          Mayby
      .tab-content
        - @user.likes.each do |like|
          .list-group
            =link_to post_path(like.post_id), { class: "list-group-item list-group-item-action" } do
              %h3.users_show_like_title
                = like.post.title
                %span
                  %i.fas.fa-star{style: "color:yellow;"}
                  = like.post.likes_count