<div class="users-show-background">
  <div class="users-show-box">
    <!-- ユーザーの詳細 -->
    <img class="user_image" src="<%= @user.image %>">
    <p><%= @user.name %>さん</p>
    <% if current_user.id == @user.id%>
      <p><%= link_to edit_user_registration_path, { class: "icon-link" } do%>
        <i class="fas fa-cog"></i>
      </p>
      <% end %>
    <% end %>
    <!-- タブ ユーザーが投稿したMayby -->
    <div class="tab-wrap">
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
      <label class="tab-label" for="TAB-01">投稿したMayby</label>
      <div class="tab-content">
        <div class="user-show-users-box">
          <% @user.posts.each do |post|%>
            <div class="users-show-layout">
              <%= link_to("/posts/#{ post.id }/show") do %>
                <h3 class="users-show-maybytitle">〜<%= post.title %>〜</h3>
                <p class="users-show-contents"><%= post.howto %></p>
              <% end %>
              <% if current_user.id == @user.id %>
                <p class="edit-icon"><%= link_to "/posts/#{ post.id }/edit", { class: "icon-link" } do%>
                <i class="fas fa-edit"></i></p>
                <% end %>
              <% end %>
            </div>
         <% end %>
       </div>
     </div>
     <!-- タブ ユーザーがコメントしたMayby -->
     <!-- 上のやり方とどっちがいいか聞く -->
    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
    <label class="tab-label" for="TAB-02">コメント</label>
    <div class="tab-content">
      <div id="user_come_index">
        <%= render partial: 'comments/user_come_index' , locals: { comments: @comments } %>
      </div>
    </div>
    <!-- タブ ユーザーがいいねしたMayby -->
    <input id="TAB-03" type="radio" name="TAB" class="tab-switch" />
    <label class="tab-label" for="TAB-03"><span><i class="fas fa-star"></i></span>Mayby</label>
    <div class="tab-content">
      <div class="user-show-users-box">
        <% @likes.each do |like|%>
          <div class="users-show-layout">
            <%= link_to "/posts/#{ like.post.id }/show" do %>
              <h3 class="users-show-maybytitle"><%= like.post.title %>
              <span  ><i style="color:yellow;" class="fas fa-star"></i><%=Like.where(post_id:like.post.id).count%></span></h3>
              <p class="users-show-contents"><%= %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>