.user_form_common_background
  .user_form_common_formbox
    %h1.user_form_common_page_title ログイン
    .omniauth_area
      %h2.omniauth_h2 次のアカウントでログインできます
      = link_to user_facebook_omniauth_authorize_path do
        .facebook 
          %i.fab.fa-facebook-f 
          Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path do
        .google
          = image_tag "google_icon.svg", :width => "16", :height => "16"
          Googleでログイン
      = link_to user_twitter_omniauth_authorize_path do
        .twitter
          %i.fab.fa-twitter
          twitterでログイン
    .user_form_layout
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email, {class: "user_form_labels"}
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Mayby@example.com'
        .field
          = f.label :password, {class: "user_form_labels"}
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field.auto_login_message
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "ログイン", {class: "user_common_form_btn"}
    =link_to '新規登録はこちら', new_user_registration_path, { class: 'for_user_link' }
