- @posts.each do |post|
  .post-index-layout
    .post-index-mayby
      .profile-and-image
        = link_to user_path(post.user) do
          = image_tag post.user.image.to_s, { class: "mini_user_image" }
          %p.profile_name= "#{post.user.name}さん"
      = link_to post_path(post) do
        %h3= post.title
      .kara
    .howto-and-detail
      .howto-box
        %p.howto-title 遊び方
        %p.howtoplay_content= post.howto
      .details
        %p.post.waimoku= "#{post.num_of_people}/#{post.play_style}"
        %p.post.times= "投稿:#{post.created_at.strftime('%Y/%m/%d')}"
        - if current_user.id == post.user_id
          = link_to edit_post_path(post), {class: "edit-icon"} do
            %i.fas.fa-edit
          = link_to post_path(post),{ method: "delete", class:"delite-icon",data: { confirm:"削除しますか？" } } do
            %i.far.fa-trash-alt
        %div{ id: "like_#{post.id}" }
          = render partial: 'likes/like' , locals: { post: post}