- @posts.each do |post|
  .card.text-center.posts_index
    .card-header.post_header
      = link_to post_path(post) do
        %h3.post_index_title= post.title
        .post_index_icon
          - if post.created_user?(current_user)
            = link_to edit_post_path(post), {class: "post_index_edit"} do
              %i.fas.fa-edit.rspec_post-edit
            = link_to post_path(post),{ method: "delete", class:"post_index_delite",data: { confirm:"削除しますか？" } } do
              %i.far.fa-trash-alt.rsepc_post-delete
    .card-body.post_body
      .post_index_user
        = link_to user_path(post.user) do
          - if post.user.image?
            = image_tag post.user.image.url, { class: "mini_user_image" }
          - else
            %img.mini_user_image{src: "/assets/no_image.jpg"}
          %p.profile_name= "#{post.user.name}さん" 
      .post_index_detail
        .post_index_howto
          %h5.card-title.howto-title 遊び方
          %p.card-text.howtoplay_content= simple_format(post.howto)
        .post_details_position
          .star_postion{ id: "js_like_#{post.id}" }
            = render partial: 'likes/like' , locals: { post: post}
          .detail_position
            %p.post.waimoku= "#{post.num_of_people}/#{post.play_style}"
            %p.post.times= "投稿:#{l post.created_at}"
