    <% @posts.each do |post| %>
      <div class="post-index-layout">
        <div class="post-index-mayby">
          <div class="profile-and-image">
            <%=link_to user_path(post.user) do%>
              <img class="mini_user_image" src="<%= post.user.image %>">
              <p class="profile_name"><%= post.user.name %>さん</p>
            <% end %>
          </div>
           <%= link_to post_path(post) do %>
             <h3><%= post.title %></h3>
           <% end %>
          <diV class="kara"></div>
        </div>
        <div class="howto-and-detail">
          <div class="howto-box">
            <p class="howto-title">遊び方</p>
            <p class="howtoplay_content"><%= post.howto %></p>
          </div>
          <div class="details">
            <p class="post waimoku"><%= post.num_of_people %>/<%= post.play_style %></p>
            <p class="post times">投稿:<%= post.created_at.strftime('%Y/%m/%d') %></p>
            <% if current_user.id == post.user_id %>
              <%= link_to edit_post_path(post), {class: "edit-icon"} do%>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to post_path(post),{ method: "delete", class:"delite-icon",data: { confirm:"削除しますか？" } } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
            
            <div id="like_<%= post.id %>">
              <%= render partial: 'likes/like' , locals: { post: post}%>
            </div>

          </div>
        </div>
      </div>
    <% end %>