<div class="posts-index-background">
  <div class="post-index-box">
      <h1 class="post-index-title">Mayby一覧</h1>
      <div class="info_open">
        <div class="content1" >
          <h3><span class="check">+</span> 探す</h3>
        </div>
      </div>
      <div class="search-box">
          <%= search_form_for @q , url: posts_index_path do |f| %>
          <div class="">
            <p><%= f.label :Maybyの名前 %></p>
            <%= f.search_field :title_cont %>
          </div>
          <div class="">
            <p><%= f.label :人数 %></p>
            <%= f.radio_button :num_of_people_eq, '', {:checked => true} %>指定なし
            <%= f.radio_button :num_of_people_eq, "一人" %>一人
            <%= f.radio_button :num_of_people_eq, "二人〜" %>二人〜
          </div>
          <div class="">
            <p><%= f.label :ワイモク度 %></p>
            <%= f.radio_button :play_style_eq, '', {:checked => true} %>指定なし
            <%= f.radio_button :play_style_eq, "もくもく" %>もくもく
            <%= f.radio_button :play_style_eq, "わいわい" %>わいわい
          </div>
          <div class="search-btn">
            <%= f.submit "検索" %>
          </div>
          <% end %> 
      </div>
           
    <!-- パーシャルとkaminari+Ajax -->
      <div id="items">
        <%= render partial: 'post', locals: { post: @posts } %>
      </div>
      <%= link_to_next_page @posts, 'もっと見る', remote: true, id: 'more_link' %>
    <!-- ここまで -->

  </div>
</div>

<script>
  $('.info_open').on('click',function(){
    var $info = $(this).next('.search-box');
    if($info.hasClass('open')){
      $info.removeClass('open').slideUp(200);
      $(this).find('.check').text('+')
    }else{
      $info.addClass('open').slideDown(200);
      $(this).find('.check').text('-')
    }
  })
</script>