.post_form_common_layout
  .post_form_common_formbox
    %h1.post_form_common_page_title 新しいMaybyをつくる
    - if @post.errors.any?
      - @post.errors.full_messages.each do |message|
        %p.post_validates= message
    .post_form_layout
      = form_with model: @post, local: true do |f|
        = f.label :title, { class: "post_form_labels search_title" }
        = f.text_field :title, { placeholder: '名前' }
        = f.label :howto, { class: "post_form_labels" }
        = f.text_area :howto, { placeholder: '遊び方（最大140文字）' }
        .action_text
          = f.label :content, { class: "post_form_labels" }
          = f.rich_text_area :content, { class: "rspec_action_textarea" }
        .post_radio_btn
          = f.label :num_of_people, { class: "post_form_radio_labels" }
          = f.radio_button :num_of_people, "一人", { class: "post_form_radio_none" }
          = f.label :num_of_people, "一人", {value: :"一人", class: "radio_select" }
          = f.radio_button :num_of_people, "二人〜", { class: "post_form_radio_none" }
          = f.label :num_of_people, "二人〜", {value: :"二人〜", class: "radio_select" }
        .post_radio_btn
          = f.label :play_style, { class: "post_form_radio_labels" }
          = f.radio_button :play_style,  "もくもく", { class: "post_form_radio_none" }
          = f.label :play_style, "もくもく", { value: :"もくもく", class: "radio_select" }
          = f.radio_button :play_style,  "わいわい", { class: "post_form_radio_none" }
          = f.label :play_style, "わいわい", { value: :"わいわい", class: "radio_select" }
        = f.submit "Mayby作成", { class: "post_common_form_btn" }