.post-new-background
  .post-new-formbox
    %h1.post-new-mayby 新しいMaybyをつくる
    - if @post.errors.any?
      - @post.errors.full_messages.each do |message|
        %p{ style: "color:red;" }= message
    = form_with model: @post, local: true do |f|
      = f.label :title, {class: "login_labels"}
      = f.text_field :title, {class: "post-new-name"}
      = f.label :howto, {class: "login_labels"}
      = f.text_area :howto, {class: "post-new-howto"}
      .post-new-radio
        = f.label :num_of_people
        = f.radio_button :num_of_people, "一人"
        = f.label :num_of_people, "一人", {value: :"一人"}
        = f.radio_button :num_of_people, "二人〜"
        = f.label :num_of_people, "二人〜", {value: :"二人〜"}
        
      .post-new-radio
        = f.label :play_style
        = f.radio_button :play_style,  "もくもく"
        = f.label :play_style, "もくもく", {value: :"もくもく"}
        = f.radio_button :play_style,  "わいわい"
        = f.label :play_style, "わいわい", {value: :"わいわい"}
        
      = f.submit "Mayby作成", {class: "post-new-btn"}