<div class="posts-show-background">
  <div class="post-show-box">
  <!-- ユーザーの詳細 -->
        <% if @current_user.id == @post.user_id %>
      <%= link_to("/posts/#{@post.id}/edit",{class: "post-edit-icon"}) do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% end %>
    <h1><%= @post.name %></h1>    
 
    <%= link_to("/users/#{@user.id}/show") do%>
      <img class="user_image" src="<%="/user_images/#{@user.image_name}"%>">
    <% end %><!--  -->
    <p><%= @user.name %>さんの発案したMayby</p>
    <p><%=@post.count%>で<%=@post.difficulty%>遊ぶ人に向いているよ！</p>
 
    <div class="like_box">
      <div id="like_<%= @post.id %>">
        <%= render partial: 'likes/like' , locals: { post: @post}%>
    </div>

    <div id="form_<%= @post.id %>">
      <%= render partial: 'comments/form' , locals: { post:@post} %>
    </div>

    <% @comment.errors.full_messages.each do |message| %>
    <p style="color:red;"><%= message %></p>
    <% end %>

    <div id="come_index_<%= @post.id %>">
       <%= render partial: 'comments/index' , locals: { post:@post} %>
    </div>
  </div>
</div>