<div class="posts-show-background">
  <div class="post-show-box">
    <h1>Maybyの詳細</h1>
    <%= link_to("/users/#{@user.id}/show") do%>
    <img class="user_image" src="<%="/user_images/#{@user.image_name}"%>">
    <% end %>
    <p><%= @post.name %>は、<%= @user.name %>さんの発案したMayby</p>
    <p><%=@post.count%>で<%=@post.difficulty%>遊ぶ人に向いているよ！</p>
    <%= link_to("←戻る","/posts/index",{class: "post-link"}) %>
    <%= link_to("コメントする","/comments/#{@post.id}/new",{class: "post-link"}) %>
    <% if @current_user.id == @post.user_id %>
      <%= link_to("編集","/posts/#{@post.id}/edit",{class: "post-link"}) %>
    <% end %>  
    <div class="like_box">
      <% if Like.find_by(user_id: @current_user.id,post_id: @post.id)%>
        <%= link_to("/likes/#{@post.id}/destroy",{method:"post",class: "post-nolike"}) do%>
          <span><i class="fas fa-star"></i></span><%= Like.where(post_id:@post.id).count %>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create",{method:"post",class: "post-like"}) do%>
          <span><i class="fas fa-star"></i><%= @like.count %>
        <% end %>
      <% end %>
      <% @likes.each do |like| %>
        <p><%= like.likeusers.name %>さん <%= link_to("他#{@like.count-1}人","/likes/#{@post.id}/index") %></p>
      <% end %>
    </div>
    <h2 class="comment-h2">コメント <%= Comment.where(post_id: @post.id).count %>件</h2>
    <% @post.comments.each do | comment | %>
      <div class="comment-show-box">
        <%= link_to("/users/#{comment.comuser.id}/show") do%>
          <p class="comment-user"><%= comment.comuser.name %>さん</p>
        <% end %>
          <p class="comment-content"><%= comment.content %></p>
          <% if @current_user.id == comment.comuser.id %>
          <p class="delete-come"><%= link_to("消す","/comments/#{comment.id}/destroy", {method:"post"}) %></p>
          <% end %>
      </div>
    <%end%>
  </div>
</div>