.posts-show-background
  .post-show-box
    .post-show-top
      - if @post.created_user?(current_user)
        - link_to edit_post_path(@post), { class: "post-edit-icon" } do
          %i.fas.fa-cog
      %h1= @post.title
      = link_to user_path(@post.user) do
        - if @post.user.image?
          = image_tag @post.user.image.url, { class: "user_image" }
        - else
          %img.user_image{src: "/assets/default_image.jpg"}
      %p= "#{@post.user.name}さんの発案したMayby"
      %p= "#{@post.num_of_people}で#{@post.play_style}遊ぶ人に向いているよ！"
      .like_box
        %div{id: "js_like_#{@post.id}" }
          = render partial: 'likes/like' , locals: { post: @post} 
      #js_comment_error
      .comment_form
        = render partial: 'comments/form' , locals: { post:@post,comment:@comment}
    #js_come_index
      = render partial: 'comments/index' , locals: { comments:@comments}
    -# <%= link_to_next_page @comments, 'もっと見る', remote: true, id: 'more_link' %>
    -# <%= paginate @comments %>