<div class="posts-show-background">
  <div class="post-show-box">
  <!-- ユーザーの詳細 -->
        <% if @current_user.id == @post.user_id %>
      <%= link_to("/posts/#{@post.id}/edit",{class: "post-edit-icon"}) do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% end %>
    <h1><%= @post.name %></h1>    
 
    <%= link_to("/users/#{@user.id}/show") do%>
      <img class="user_image" src="<%="/user_images/#{@user.image_name}"%>">
    <% end %><!--  -->
    <p><%= @user.name %>さんの発案したMayby</p>
    <p><%=@post.count%>で<%=@post.difficulty%>遊ぶ人に向いているよ！</p>
 
    <div class="like_box">
      <div id="like_<%= @post.id %>">
        <%= render partial: 'likes/like' , locals: { post: @post}%>
      </div>
      <div id="like_user_<%= @post.id %>">
        <%= render partial: 'likes/likeuser' , lacals: { post: @post} %>
      </div>
 
      
    </div>
    <div class="form_comment">
      <h3 class="comment-h2">コメント <%= Comment.where(post_id: @post.id).count %>件</h3>
      <%= form_tag("/comments/#{@post.id}/create") do%>  
        <input class="comment" type=text name="content">
        <input class="comment-btn" type="submit" value="コメント">
      <% end %>
    </div>
    <% @post.comments.each do | comment | %>
      <div class="comment-show-box">
        <%= link_to("/users/#{comment.comuser.id}/show") do%>
          <p class="comment-user"><%= comment.comuser.name %>さん</p>
        <% end %>
          <p class="comment-content"><%= comment.content %></p>
          <% if @current_user.id == comment.comuser.id %>
          <%= link_to("/comments/#{comment.id}/destroy", {method:"post",class:"comment-delete-icon",data: {confirm:"削除しますか？"}}) do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          <% end %>
      </div>
    <%end%>
  </div>
</div>