<div class="posts-show-background">
  <div class="post-show-box">
    <h1>Maybyの詳細</h1>
    <img class="user_image" src="<%="/user_images/#{@user.image_name}"%>">
    <p><%= @post.name %>は、<%= @user.name %>さんの発案したMayby</p>
    <p><%=@post.count%>で<%=@post.difficulty%>遊ぶ人に向いているよ！</p>
    <%= link_to("←戻る","/posts/index",{class: "post-link"}) %>
    <%= link_to("コメントする","/comments/#{@post.id}/new",{class: "post-link"}) %>
    <% if @current_user.id == @post.user_id %>
      <%= link_to("編集","/posts/#{@post.id}/edit",{class: "post-link"}) %>
    <% end %>  
    <div class="like_box">
      <% if Like.find_by(user_id: @current_user.id,post_id: @post.id)%>
        <%= link_to("/likes/#{@post.id}/destroy",{method:"post",class: "post-nolike"}) do%>
          <span><i class="fas fa-star"></i></span><%= Like.where(post_id:@post.id).count %>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create",{method:"post",class: "post-like"}) do%>
          <span><i class="fas fa-star"></i><%= Like.where(post_id:@post.id).count %>
        <% end %>
      <% end %>
    </div>
    <h2>コメント</h2>
    <% @post.comments.each do | comment | %>
      <div style="background-color:white;width:50%;margin:0 auto;border:1px solid black;">
        <p><%= comment.content %></p>
        <p>from:<%= comment.comuser.name%></p>
        <% if @current_user.id == comment.comuser.id %>
        <%= link_to("消す","/comments/#{comment.id}/destroy", {method:"post"}) %>
        <% end %>
      </div>
    <%end%>
  </div>
</div>