<div class="posts-index-background">
  <div class="index-box">
    <h1>Maybyの詳細</h1>
    <img class="user_image" src="<%="/user_images/#{@user.image_name}"%>">

    <p class="show-mayby"><%= @post.name %>は、<%= @user.name %>さんの発案したMayby</p>
    <p class="show-mayby"><%=@post.count%>で<%=@post.difficulty%>遊ぶ人に向いているよ！</p>
    <%= link_to("←戻る","/posts/index") %>
      <% if @current_user.id == @post.user_id %>
        <%= link_to("編集","/posts/#{@post.id}/edit") %>
      <% end %>
      
    <div class="like_box">
      <% if Like.find_by(user_id: @current_user.id,post_id: @post.id)%>
        <%= link_to("いいね済","/likes/#{@post.id}/destroy",{method:"post"})%>
        <%= Like.where(params[:id]).count %>
      <% else %>
        <%= link_to("いいね","/likes/#{@post.id}/create",{method:"post"})%>
        <%= Like.where(params[:id]).count %>
      <% end %>
    </div>
  </div>
</div>