.posts-show-background
  .post-show-box
    .card.comment_show_card
      %h1.post_show_title= @post.title
      .post_show_user
        = link_to user_path(@post.user) do
          - if @post.user.image?
            = image_tag @post.user.image.url, { class: "user_image" }
          - else
            %img.user_image{src: "/assets/no_image.jpg"}
      %p.post_show_introduce1= "#{@post.user.name}さんの発案したMayby"
      %p.post_show_introduce2= "#{@post.num_of_people}で#{@post.play_style}遊ぶ人に向いているよ！"
      .show_star_postion{id: "js_like_#{@post.id}" }
        = render partial: 'likes/like' , locals: { post: @post} 
      #js_comment_error
      .comment_form
        = render partial: 'comments/form' , locals: { post:@post,comment:@comment}
    #js_come_index
      = render partial: 'comments/index' , locals: { comments:@comments}
    -# <%= link_to_next_page @comments, 'もっと見る', remote: true, id: 'more_link' %>
    -# <%= paginate @comments %>