- if user_signed_in? 
  .header_login_user
    =link_to user_path(current_user) do
      = image_tag current_user.image_url, { class: "login_user_image" }
  %li= link_to "#{current_user.name}さん", user_path(current_user), {class: "user_show_button"}
  %li= link_to "ユーザー一覧", users_path
  %li= link_to "Mayby一覧", posts_path
  %li= link_to "Mayby投稿", new_post_path, {class: "new_mayby_button"}
  %li= link_to "ログアウト", destroy_user_session_path, { method:"delete", class: "logout_button"}
  - if current_user.admin?
    %li= link_to "管理者", rails_admin_path
- else  
  %li= link_to "Maybyとは", about_path
  %li= link_to "新規登録", new_user_registration_path
  %li= link_to "ログイン", new_user_session_path, {class: "login_button"}