<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayby ~Make Your Hobby~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a54ae546a.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <header>
    <h1 class="logo"><%= link_to "Mayby", root_path %></h1>
    <ul class="header-menu">
    <% if user_signed_in? %>
      <li><%= link_to "#{current_user.name}さん", user_path(current_user) %></li>
      <li><%= link_to "ユーザー一覧", users_path %></li>
      <li><%= link_to "Mayby一覧", posts_path %></li>
      <li><%= link_to "Mayby投稿", new_post_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, { method:"delete" } %></li>
    <% else %>  
      <li><%= link_to "Maybyとは", about_path %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
    </ul>
    </ul>
    <div class="bars"><div></div><div></div><div></div></label>
  </header>
  <div class="flash">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="overlay"></div>
  <nav class="nav">
    <ul class="burger-menu">
    <% if user_signed_in? %>
      <li><%= link_to "#{current_user.name}さん", user_path(current_user) %></li>
      <li><%= link_to "ユーザー一覧", users_path %></li>
      <li><%= link_to "Mayby一覧", posts_path %></li>
      <li><%= link_to "Mayby投稿", new_post_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, { method:"delete" } %></li>
    <% else %>  
      <li><%= link_to "Maybyとは", about_path %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
    </ul>
  </nav>


    <%= yield %>
    <script>
      $('.bars').on('click',function(){
      if($(this).hasClass('active')){
      $(this).removeClass('active');
      } else {
      $(this).addClass('active');
      $('.nav').addClass('open');
      $('.overlay').addClass('open');
      $('.close').addClass('open');
      }
      });
      $('.overlay').on('click',function(){
      if($(this).hasClass('open')){
      $(this).removeClass('open');
      $('.nav').removeClass('open'); 
      $('.bars').removeClass('active');
      }
      });
      $('.close').on('click',function(){
      if($(this).hasClass('open')){
      $(this).removeClass('open');
      $('.nav').removeClass('open');
      $('.overlay').removeClass('open');
      $('.bars').removeClass('active');
      }
      });

    </script>
  </body>
</html>
